.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList{
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 20px;
  background-color: aqua;
}

.task {
  font-weight: bold;
}

.task-done {
  font-weight: bold;
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-filter-active{
  background-color:rgb(38, 90, 90);
  border: 2px solid rgb(38, 90, 90);
}

.task-input-error {
  border: 1px solid red;
}

.error {
  color: red;
}
